*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rosybrown;
}
h1{
    text-align: center;
}
.Container{
    max-width: 550px;
    margin: auto;
    text-align: center;
    background-color: cyan;
    height: 550px;
    border: black;
    margin-top: 30px;
}
.form-contr1{
    margin-bottom: 32px;
    margin-left: 25px;
    text-align: center;
    border: black;
    border-radius: 10px;
    height: 30px;
    width: 240px;
  
}
.button{
    height: 35px;
    width: 100px;
    background-color: cyan;
    border-radius: 10px;
    margin-left: 30px;
}
